@ViewBag.StatusMessage
<hr />
To są odnośniki do stworzonych metod:
<ul>
    <li>@Html.ActionLink("Teacher", "OnlyTeachers", "Example")</li>
    <li>@Html.ActionLink("Student", "OnlyStudents", "Example")</li>
    <li>@Html.ActionLink("Admin", "OnlyAdmin", "Example")</li>
    <li>@Html.ActionLink("Students And Teachers", "StudentsAndTeachers", "Example")</li>
</ul>
